In [1]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [8]:
from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.garena.game.codm',
    lang='id',
    country='id',
    sort=Sort.MOST_RELEVANT,
    count=5000,
    filter_score_with=None
)

In [1]:
df_COD = pd.DataFrame(np.array(result),columns=['review'])

df_COD = df_COD.join(pd.DataFrame(df_COD.pop('review').tolist()))

df_COD

NameError: name 'pd' is not defined

In [9]:
df_COD[['userName', 'score','at', 'content']].head()

,userName,score,at,content
0,Nathan william,4,2023-05-31 16:57:07,Sekarang ada fitur stop download rss dan saya ...
1,Ramadeya Pandya,3,2023-06-17 21:51:24,"Dalam gameplay bagus, gerakan animasi bagus, c..."
2,Ricardo Razaq Alghivieri,4,2023-05-26 21:10:21,Dari segi gameplay dan grafis sudah sangat bag...
3,via laviyaa,1,2023-06-07 17:01:21,"setelah diupdate malah lebih parah bug-nya, ap..."
4,My Name Is Adexta,4,2023-06-02 09:35:24,kadang frame rate kalo ada musuh tiba-tiba 0 f...

In [11]:
new_df = df_COD[['userName', 'score','at', 'content']]
sorted_df = new_df.sort_values(by='at', ascending=False)
sorted_df.head()

,userName,score,at,content
192,Rezky kurnia,1,2023-06-21 19:36:14,Terlalu sangat banyakan update gak jelasnya pe...
33,Nana Prasetya,5,2023-06-21 19:26:23,Game ini salah satu gem favorit ku gemnya kere...
2764,Geraldo Wowiling,3,2023-06-21 18:55:13,"Gamenya udh bagus sebenarnya semuanya bagus ""K..."
2143,Liya Triana,2,2023-06-21 16:17:17,Nyari musuh tolong yang sepantar skill nya
437,Fendinata Rahman Hakim,1,2023-06-21 16:07:48,Pemilihan tim tidak sesuai sekil dibawah saya ...

In [13]:
my_df = sorted_df[['userName', 'score','at', 'content']]

In [14]:
my_df.head()

,userName,score,at,content
192,Rezky kurnia,1,2023-06-21 19:36:14,Terlalu sangat banyakan update gak jelasnya pe...
33,Nana Prasetya,5,2023-06-21 19:26:23,Game ini salah satu gem favorit ku gemnya kere...
2764,Geraldo Wowiling,3,2023-06-21 18:55:13,"Gamenya udh bagus sebenarnya semuanya bagus ""K..."
2143,Liya Triana,2,2023-06-21 16:17:17,Nyari musuh tolong yang sepantar skill nya
437,Fendinata Rahman Hakim,1,2023-06-21 16:07:48,Pemilihan tim tidak sesuai sekil dibawah saya ...